<% include ./partials/header %>

    <% var today = new Date(); %>
    <% var currentMonth = (today.getMonth()+1) %>
    <% if(currentMonth < 10) { currentMonth = '0' + currentMonth; } %>
    <% var date = today.getDate()+'/'+currentMonth+'/'+today.getFullYear() %>

<div class="my-container">
     <form class="form" action="/previewSS" method="POST">
         
         
         <!---first row -->
         
         
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="invoicenumber">Invoice number :</label>
                    <input class="form-control" type="text" value="SSS/00/2019-20" name="invoicenumber" required>  
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <label for="invoicedate3">Invoice date :</label>
                    <input class="form-control" type="text" name="invoicedate" value="<%= date %>" required>  
                </div>
            </div>
        </div>
        
        
        <!--second row-->
        
        
        <div class="row header">
            <div class="col-sm-6">
                <h4>Bill to party</h4>
            </div>   
            
            <div class="col-sm-6">
                <h4>Ship to party</h4>
            </div>   
        </div>
        
        <!--third row-->
        
        
        <div class="row">
            
            <div class="col-sm-6">
                <div class="form-group">
                
                    <input class="form-control" type="text" id="gst" placeholder="15 digit gstin" style="text-transform:uppercase" name="gstin" required>  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id = "name" placeholder="Name of party" name="name" required>  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id= "add1" placeholder="Address Line 1" name="address1" required>  
                </div>
                 <div class="form-group">
                    <input class="form-control" type="text" id= "add2" placeholder="Address Line 2" name="address2" required>  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="State" value="West Bengal" name="state" required>  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="StateCode" value="19" name="code" required>  
                </div>
            </div>
            
            <div class="col-sm-6">
            
                <div class="form-group">
                   
                    <input class="form-control" type="text" id="gsts" placeholder="15 digit gstin" style="text-transform:uppercase" name="gstin" required>  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="names" placeholder="Name of party" name="name" required>  
                </div>
                 <div class="form-group">
                    <input class="form-control" type="text" id="add1s" placeholder="Address Line 1" name="address1" required>  
                </div>
                 <div class="form-group">
                    <input class="form-control" type="text" id="add2s" placeholder="Address Line 2" name="address2" required>  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="State" value="West Bengal" name="state" required>  
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="StateCode" value="19" name="code" required>  
                </div>
            </div>
            <div class="form-group form-check" style="margin-left: 1em;">
                <input type="checkbox" id="filladdress" class="form-check-input" name="filladdress"/>
                <label class="form-check-label" for="exampleCheck1">Shipping details same as billing details</label>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("#filladdress").on("click", function(){
                    if (this.checked) { 
                            $("#gsts").val($("#gst").val());
                            $("#names").val($("#name").val());
                            $("#add1s").val($("#add1").val());   
                            $("#add2s").val($("#add2").val());                      
                }
                else {
                    $("#gsts").val('');
                    $("#names").val('');
                    $("#PreFirstPS").val('');           
                }
                });
            });
        </script>
        <!--forth row-->
        
        
        <div class="row heading">
            <div class="col-sm-12">
                <h4>Product Details</h4>
            </div>
            
        </div>
        
        
        <!--fifth row-->
        
        <div id="product-form">
        <div class="row" id="product-row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Product Description" name="product" required>  
                </div>                   
            </div>
            <div class="col-sm-2">
                <div class="form-group"> 
                    <input class="form-control" type="text" placeholder="HSN" name="hsn"required>  
                </div>                   
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Quantity" name="quantity" required>  
                </div>                   
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Unit" vaule="KGS" name="unit"required>  
                </div>                   
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Rate"  name="rate" required>
                </div>                   
            </div>
            
        </div>
        </div>
        <button type="button" id="button" class="btn btn-block btn-success" onclick="myFunction()">Add More</button>
       
       
       <!--sixth row-->
       
       <div class="row header">
          <div class="col-sm-12">
                <h4>Other Details</h4>
            </div>
       </div>
       
       <!--seventh row-->
        <div class="container">
            <div class="form-group row">
                <label for="VehicleNumber" class="col-sm-6 col-form-label other-lebels">Vechicle Number</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="example - WB11C2018" name="vehiclenumber" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="TransportName" class="col-sm-6 col-form-label other-lebels">Transport Name</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" value="REGULAR" name="transportname">
                </div>
              </div>
              <div class="form-group row">
                <label for="PlaceOfSuppl" class="col-sm-6 col-form-label other-lebels">Place Of Supply</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" value="West Bengal" name="placeofsupply">
                </div>
              </div>
              <div class="form-group row">
                <label for="StateCode" class="col-sm-6 col-form-label other-lebels">State Code</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" value="19" name="statecode">
                </div>
              </div>
              <div class="form-group row">
                <label for="OrderMode" class="col-sm-6 col-form-label other-lebels">Order Mode</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" value="verbal" name="ordermode">
                </div>
              </div>
              <div class="form-group row">
                <label for="gstrate" class="col-sm-6 col-form-label other-lebels">Gst Rate %</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" value="9" name="gstrate">
                </div>
              </div>
              
        </div>
       
        <div class="form-group" id="login-btn">
          <button class= "btn btn-lg btn-outline-dark btn-block" id ="login-btn" type="submit">Submit</button>
        </div>
        
    </form>
</div>
    <div class="footer">
        created by SEN
    </div> 

<script> function myFunction() {
    console.log("triggerred");
    var itm = document.getElementById("product-row");
    var cln = itm.cloneNode(true);
    document.getElementById("product-form").appendChild(cln);
}

</script>
    
<% include ./partials/footer %>