<% include ./partials/header %>
<div class= "container">
    <div class="row">
        <div class="col-sm-4">
            <a href="/LaunchAK" class="btn btn-outline-dark" >Add Fresh Bill for AK Enterprise</a>
        </div>
        <div class="col-sm-4">
            <a href="/LaunchSS" class="btn btn-outline-dark" >Add Fresh Bill for SS Syndicate</a>
        </div>
        <div class="col-sm-4">
            <a href="/LaunchASC" class="btn btn-outline-dark" >Add Fresh Bill for Allied Scientific Co</a>
        </div>
    </div>
</div>




<% include ./partials/footer %>